.crud{
    background-color: rgb(134, 134, 134);
    border-radius: 10px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 20px 20px 40px  black;
    transition: all .4s;
}
